<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../artsyUI.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>Artsy UI</div>
      <div>Social Logos</div>
    </header>
    <aside>
      <a href="./badge.html">Alert</a>
      <a href="../avatar/avatar.html">Avatar</a>
      <a href="./badge.html">Badge</a>
      <a href="./badge.html">Button</a>
    </aside>
    <main>
      <!-- Avatar w/badge -->
      <h1>Badge</h1>
      <p class="body-l">Badges are being used to display a notification count or status information</p>
      <h2>Avatar with Status Badge</h2>
      <p>We have 3 types of status badges that can be integrated with Avatars. You can show colors to show the online status of user.</p>
          <ul class="list">
              <li>Online: Green (class: avatar-online)</li>
              <li>Ofline: Red (class: avatar-ofline)</li>
              <li>Not Available: Gray (class: avatar-away)</li>
          </ul>
           <p> And to show cart or notification count, you can use number badge. Check code below to copy the html part as is.</p>
      <div class="component-container avatar-container">
        <div class="avatar avatar-online avatar-m">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
          <span></span>
        </div>
        <div class="avatar avatar-ofline avatar-m">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
        <div class="avatar avatar-away avatar-m">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
      </div>

    </main>
  </body>
</html>
