<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../../artsyUI.css" />
    <title>Artsy UI</title>
  </head>

  <body class="cl-body">
    <!-- header -->
    <header class="cl-header">
      <div class="flex-align-center">
        <button class="btn hamburger">
          <i class="fa-solid fa-bars primary-text"></i>
        </button>

        <a class="flex-align-center" href="/index.html">
          <img
            alt="artsyui-logo"
            class="artsy-logo"
            src="/src/assets/logo-v2.png"
          />
          <h3><b>Artsy UI</b></h3>
          <span>v1.0</span>
        </a>
      </div>
      <div class="right-side">
        <a href="/index.html" class="link-text-primary">Home</a>
        <a
          href="/src/getting_started/introduction.html"
          class="link-text-primary"
          >Docs</a
        >
        <i class="fa-solid fa-moon mode-toggle"></i>
      </div>
    </header>

    <!-- aside start -->
    <aside class="cl-aside">
      <!-- Getting Started -->
      <h3>Getting Started</h3>
      <a href="/src/getting_started/introduction.html">Introduction</a>
      <a href="/src/getting_started/typography.html">Typography</a>
      <a href="/src/getting_started/color-scheme.html">Colors</a>
      <a href="/src/getting_started/grid.html">Grid</a>

      <!-- components -->
      <h3>Components</h3>
      <a href="../alert/alert.html">Alert</a>
      <a href="../avatar/avatar.html">Avatar</a>
      <a class="active-tab" href="">Badge</a>
      <a href="../button/button.html">Button</a>
      <a href="../card/card.html">Card</a>
      <a href="../image/image.html">Image</a>
      <a href="../input/input.html">Input</a>
      <a href="../list/list.html">List</a>
      <a href="../modal/modal.html">Modal</a>
      <a href="../nav/nav.html">Navigation</a>
      <a href="../rating/rating.html">Rating</a>
      <a href="../snackbar/snackbar.html">Snackbar</a>
    </aside>

    <!-- main -->
    <main class="cl-main">
      <!-- Avatar w/badge -->
      <h1>Badge</h1>
      <p class="body-l">
        Badges are being used to display a notification count or status
        information
      </p>
      <div class="component-desc">
        <h3>Avatar with Status Badge</h3>
        <p>
          We have 3 types of status badges that can be integrated with Avatars.
          You can show colors to show the online status of user.
        </p>

        <ul class="list">
          <li>
            Online: Green (<span class="highlight-text"
              >class: avatar-online</span
            >)
          </li>
          <li>
            Offline: Red (<span class="highlight-text"
              >class: avatar-offline</span
            >)
          </li>
          <li>
            Not Available: Gray (<span class="highlight-text"
              >class: avatar-away</span
            >)
          </li>
        </ul>
        <p>
          And to show cart or notification count, you can use number badge.
          Check code below to copy the html part as is.
        </p>
      </div>
      <div class="component-container avatar-container">
        <div class="avatar avatar-online avatar-m">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
        <div class="avatar avatar-offline avatar-m">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
        <div class="avatar avatar-away avatar-m">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
      </div>

      <!-- code snippet -->
      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <div class="avatar avatar-online avatar-m">
              <!-- image -->
            </div>
            <div class="avatar avatar-offline avatar-m">
              <!-- image -->
            </div>
            <div class="avatar avatar-away avatar-m">
              <!-- image -->
            </div>
        </script>
      </div>

      <!-- badge on icon -->
      <div class="component-desc">
        <h3>Badge on icon</h3>
      </div>
      <div class="component-container avatar-container">
        <div class="icon-badge">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge">25</span>
        </div>
      </div>

      <!-- code snippet -->
      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <div class="icon-badge">
              <!-- icon -->
              <span class="badge">25</span>
            </div>
        </script>
      </div>
    </main>

    <!-- footer -->
    <footer class="cl-footer flex-align-center">
      <div class="social-logos flex-align-center">
        <!-- github icon -->
        <a href="https://github.com/bhtibrewal">
          <i class="fa-brands fa-github fa-lg"></i>
        </a>
        <!-- twitter icon -->
        <i class="fa-brands fa-twitter fa-lg"></i>
        <!-- linkedin icon -->
        <i class="fa-brands fa-linkedin fa-lg"></i>
      </div>
      <div class="flex-align-center">
        Made with
        <i class="heart-logo fa-solid fa-heart"></i>
        by Bhavika Tibrewal
      </div>
    </footer>
    <button class="to-top-btn floating-btn">
      <i class="fa-solid fa-rocket fa-lg"></i>
    </button>

    <script src="/src/doc/prism.js"></script>
    <script src="/index.js"></script>
    <script
      src="https://kit.fontawesome.com/617c60ee1d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
