<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../../styles.css" />
  <link rel="stylesheet" href="../../artsyUI.css" />
  <title>Artsy UI</title>
</head>


<body class="cl-body">
  <!-- header -->
  <header class="cl-header">
    <a class="flex-align-center" href="/index.html">
      <img class="artsy-logo" src="../../assets/logo-v2.png" />
      <h3><b>Artsy UI</b></h3>
      <span>v1.0</span>
    </a>
    <div class="right-side">
      <a href="/index.html" class="link-text-primary">Home</a>
      <a href="/src/getting_started/introduction.html" class="link-text-primary">Docs</a>
      <i class="fa-solid fa-moon mode-toggle"></i>
    </div>
  </header>

  <!--******** aside *******-->
  <aside class="cl-aside">
    <!-- Getting Started -->
    <h3>Getting Started</h3>
    <a href="/src/getting_started/introduction.html">Introduction</a>
    <a href="/src/getting_started/typography.html">Typography</a>
    <a href="/src/getting_started/color-scheme.html">Colors</a>
   
    <!-- components -->
    <h3>Components</h4>
      <a href="../alert/alert.html">Alert</a>
      <a href="../avatar/avatar.html">Avatar</a>
      <a href="../badge/badge.html">Badge</a>
      <a class="active-tab" href="">Button</a>
      <a href="../card/card.html">Card</a>
      <a href="../image/image.html">Image</a>
      <a href="../input/input.html">Input</a>
      <a href="">Form</a>
      <a href="">Snackbar</a>
  </aside>

  <!-- main -->
  <main class="cl-main">
    <h1>Buttons</h1>
    <p class="body-l">
      Buttons are also called as call to action. We have range of buttons and
      their states.
    </p>

    <!-- Primary style button  -->
    <div class="component-desc">
      <h3>Primary Style Buttons</h3>
      <p>
        Whenever you want your user to click on a link or button, use primary
        style buttons.Add class <span class="highlight-text">btn</span> along with <span
          class="highlight-text">btn-primary/ btn-secondary</span> to get primary style buttons with cta color or
        secondary color respectively.
      </p>
      <p>Add class <span class="highlight-text">link-text-primary</span> to get link text buttons </p>

    </div>
    <div class="component-container buttons-container">

      <!-- CTA color -->
      <div>
        <h4>CTA  button</h4>
        <button class="btn btn-primary">button</button>
      </div>
      <!-- secondary color -->
      <div>
        <h4>secondary action button</h4>
        <button class="btn btn-secondary">button</button>
      </div>
      <!-- link text button -->
      <a href="" class="link-text-primary">primary text</a>
    </div>

     <!-- code snippet -->
     <div class="code_wrapper">
      <script type="text/plain" class="line-numbers language-markup">
       CTA button
        <button class="btn btn-primary"> <!-- text --> </button>
      Secondary button
        <button class="btn btn-secondary"> <!-- text --> </button>
      Link button
        <a href="link" class="link-text-primary"> <!-- text --> </a>
      </script>
    </div>

    <!-- outline buttons -->
    <div class="component-desc">
      <h3>Outline Buttons</h3>
      <p>For buttons with significance than the cta buttons we have buttonds with outline style. Just add class <span
          class="highlight-text">outline-btn-primary/ outline-btn-secondary</span> for primary color button / secondary
        color button.</p>
    </div>
    <div class="component-container">
      <button class="btn outline-btn-primary">button</button>
      <button class="btn outline-btn-secondary">button</button>
    </div>

    <!-- code snippet -->
    <div class="code_wrapper">
      <script type="text/plain" class="line-numbers language-markup">
        outline button primary
        <button class="btn outline-btn-primary"> <!-- text --> </button>
        outline button secondary
        <button class="btn outline-btn-secondary"> <!-- text --> </button>
      </script>
    </div>

    <!-- buttons with icons -->
    <div class="component-desc"></div>
    <h3>Buttons with Icon</h3>
    <p>To add icons to buttons you just need to give a svg in the button content and add class <span
        class="highlight-text">button-icon</span> to it.</p>
    </div>
    <div class="component-container">
      <button class="btn btn-primary">
        <i class="button-icon fa-solid fa-cart-shopping"></i>
        add to cart
      </button>
      <button class="btn btn-secondary">
        <i class="button-icon fa-solid fa-trash" aria-hidden="true"></i>
        delete
      </button>
      <button class="btn outline-btn-primary">
        call
        <i class="button-icon fa-solid fa-phone"></i>
      </button>
    </div>
    <!-- code snippet -->
    <div class="code_wrapper">
      <script type="text/plain" class="line-numbers language-markup">
        toggle button
        <button class="btn btn-primary">
         <!-- icon --> <!-- text -->
        </button>
        floating button
        <button class="btn outline-btn-primary">
         <!-- text --> <!-- icon -->
        </button>
      </script>
    </div>
    

    <!-- floating button -->
    <div class="component-desc">
      <h3>Toogle Button and Floating Action Button</h3>
    </div>

    <div class="component-container">
      <label class="switch">
        <input type="checkbox" />
        <span class="switch-btn round"></span>
      </label>
      <button class="floating-btn">
        <i class="fa-solid fa-arrow-up fa-2x"></i>
      </button>
    </div>
    <!-- code snippet -->
    <div class="code_wrapper">
      <script type="text/plain" class="line-numbers language-markup">
        <label class="switch">
          <input type="checkbox" />
          <span class="switch-btn round"></span>
        </label>
        <button class="floating-btn"> <!-- icon --> </button>
      </script>
    </div>

  </main>

  <!-- footer -->
  <footer class="cl-footer flex-align-center">
    <div class="social-logos flex-align-center">
      <!-- github icon -->
      <a href="https://github.com/bhtibrewal">
      <i class="fa-brands fa-github fa-lg"></i>
    </a>
      <!-- twitter icon -->
      <i class="fa-brands fa-twitter fa-lg"></i>
      <!-- linkedin icon -->
      <i class="fa-brands fa-linkedin fa-lg"></i>
    </div>
    <div class="flex-align-center">
      Made with
      <i class="heart-logo fa-solid fa-heart"></i>
      by Bhavika Tibrewal
    </div>
  </footer>

  <!-- to top btn -->
  <button class="to-top-btn floating-btn">
    <i class="fa-solid fa-rocket fa-lg"></i>
  </button>

  <script src="/src/doc/prism.js"></script>
  <script src="/index.js"></script>
  <script
      src="https://kit.fontawesome.com/617c60ee1d.js"
      crossorigin="anonymous"
    ></script>
</body>

</html>