.card {
  background: var(--light-bg);
  border-radius: 1rem;
  border: thin solid var(--gray-bg);
  box-shadow:0 0 10px -4px var(--secondary-text);
  margin: auto;
  overflow: hidden;
  position: relative;
}

.card-actions>*, .card-header{
  font-size:1.3rem;
}
.w-20{
  max-width: 20rem;
}
.w-30 {
  max-width: 30rem;
}
.w-40 {
  max-width: 40rem;
}
.w-50 {
  max-width: 50rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.card-img {
  max-height: 20rem;
  width:100%;
}

.hero {
  margin: 0;
  width: 100%;
  min-height: 20rem;
  display: grid;
  place-content: center;
  background: var(--secondary-color);
  color: var(--light-text);
}

.card-header {
  margin: 1.6rem;
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
}

.card-header h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

.card-header h2 {
  font-size: 1.2rem;
  line-height: 1.375;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.card-body {
  line-height: 1.25;
  font-size: 1.2rem;
  /* margin: 0 1.6rem; */
  color: var(--secondary-text-color);
}

.price-sec {
  text-align: center;
}

.price-sec > * {
  display: inline-block;
}

.strike-price {
  font-size: 1.6rem;
  text-decoration: line-through;
}

.card-actions > * {
  cursor: pointer;
  
}

.card-actions {
  display: flex;
  justify-content: space-around;
  margin: 1.6rem;
  gap:1rem;
}
.card-actions button{
  width:100%;
}
.card-action-buttons {
  display: flex;
}

.card-action-icon{
  width:50%;
  justify-content: space-evenly;
}
.card-action-icon >*{
  padding: 0.5rem;
  aspect-ratio:1;
  border-radius: 50%;
}

.card-action-icon>*:hover {
  background: var(--gray-bg);
}

/* add to favourite btn  & close btn */

.close-btn, .favourite-icon{
  position: absolute;
  top: 4%;
  right: 6%;
  padding:.5rem;
  aspect-ratio: 1;
}
.close-btn{
  color: var(--secondary-text);
  background: var(--light-bg);
}

.favourite-icon{
  z-index:1;
  background: var(--light-bg);
  color: var(--primary-text);
}

.favourite-icon:hover {
  color: red;
}

/* card badge */
.card-badge {
  position: absolute;
  top: 5%;
  border-radius: 0 4px 4px 0;
  background: var(--primary-color-lighter);
  color: var(--light-text);
  padding: 0.3rem 0.7rem;
}

/* Basic w/ Text over Media */
.text-o-media .content .card-header{
  visibility: hidden;
}
.text-o-media .content:hover .card-header{
  visibility:visible;
}
.text-o-media .content{
  display: grid;
}

.text-o-media .card-img,
.text-o-media .card-header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.text-o-media .card-header > * {
  color: var(--light-bg);
}
.text-o-media .card-header {
  background: var(--overlay-color);
  backdrop-filter: blur(1px);
  padding: 1.6rem;
  margin: 0;
  height: 100%;
}

:is(.text-o-media, .basic-wh) .card-body {
  margin-top: 0.5rem;
}

/********* card w/overlay *********/
.overlay-container {
  display: grid;
  margin: auto;
}
.overlay-container .card,
.overlay-container .overlay {
  grid-row: 1/2;
  grid-column: 1/2;
}

.overlay {
  background: var(--overlay-color);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay h2 {
  color: var(--light-bg);
}

/* Horizontal Image and Text */
.hori .content {
  display: flex;
  flex-direction: row;
}

.hori img {
  width: 15rem;
}
