<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles.css" />
    <link rel="stylesheet" href="../../artsyUI.css" />
    <title>Artsy UI</title>
  </head>

  <body class="cl-body">
    <!--******** header *******-->
    <header class="cl-header">
      <a class="flex-align-center" href="/index.html">
        <img class="artsy-logo" src="../../assets/logo-v2.png" />
        <h3><b>Artsy UI</b></h3>
        <span>v1.0</span>
      </a>
      <div class="right-side">
        <a href="/index.html" class="link-text-primary">Home</a>
        <a
          href="/src/getting_started/introduction.html"
          class="link-text-primary"
          >Docs</a
        >
        <i class="fa-solid fa-moon mode-toggle"></i>
      </div>
    </header>

    <!--******** aside *******-->
    <aside class="cl-aside">
      <!-- Getting Started -->
      <h3>Getting Started</h3>
      <a href="/src/getting_started/introduction.html">Introduction</a>
      <a href="/src/getting_started/typography.html">Typography</a>
      <a href="/src/getting_started/color-scheme.html">Colors</a>
      <a href="/src/getting_started/grid.html">Grid</a>

      <!-- components -->
      <h3>Components</h3>
      <a class="active-tab" href="">Alert</a>
      <a href="../avatar/avatar.html">Avatar</a>
      <a href="../badge/badge.html">Badge</a>
      <a href="../button/button.html">Button</a>
      <a href="../card/card.html">Card</a>
      <a href="../image/image.html">Image</a>
      <a href="../input/input.html">Input</a>
      <a href="../list/list.html">List</a>
      <a href="../modal/modal.html">Modal</a>
      <a href="../nav/nav.html">Navigation</a>
      <a href="../rating/rating.html">Rating</a>
      <a href="../snackbar/snackbar.html">Snackbar</a>
    </aside>

    <!--******** main *******-->
    <main class="cl-main">
      <!-- Alert -->
      <h1>Alert</h1>
      <p class="body-l">
        Alerts are used to attract user's attention for important information
        without interrupting the user's flow.
      </p>
      <h3>Examples</h3>
      <p>
        We have 4 types of alerts. Different colors of alert signify different.
      </p>
      <ul class="list">
        <li>
          Primary: Blue (<span class="highlight-text">
            class: alert-primary</span
          >)
        </li>
        <li>
          Success: Green (<span class="highlight-text"
            >class: alert-success</span
          >)
        </li>
        <li>
          Danger: Red (<span class="highlight-text">class: alert-danger</span>)
        </li>
        <li>
          Warning: Yellow (<span class="highlight-text"
            >class: alert-warning</span
          >)
        </li>
      </ul>
      <p>Check code below to copy the html part as is.</p>
      <div class="component-container flex-col">
        <div class="alert alert-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="alert-icon iconify iconify--ep"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 1024 1024"
          >
            <path
              fill="currentColor"
              d="M512 64a448 448 0 1 1 0 896.064A448 448 0 0 1 512 64zm67.2 275.072c33.28 0 60.288-23.104 60.288-57.344s-27.072-57.344-60.288-57.344c-33.28 0-60.16 23.104-60.16 57.344s26.88 57.344 60.16 57.344zM590.912 699.2c0-6.848 2.368-24.64 1.024-34.752l-52.608 60.544c-10.88 11.456-24.512 19.392-30.912 17.28a12.992 12.992 0 0 1-8.256-14.72l87.68-276.992c7.168-35.136-12.544-67.2-54.336-71.296c-44.096 0-108.992 44.736-148.48 101.504c0 6.784-1.28 23.68.064 33.792l52.544-60.608c10.88-11.328 23.552-19.328 29.952-17.152a12.8 12.8 0 0 1 7.808 16.128L388.48 728.576c-10.048 32.256 8.96 63.872 55.04 71.04c67.84 0 107.904-43.648 147.456-100.416z"
            ></path>
          </svg>
          A primary alert example!!!!
        </div>
        <div class="alert alert-success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="alert-icon iconify iconify--icon-park-outline"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 48 48"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M24 4l5.253 3.832l6.503-.012l1.997 6.188l5.268 3.812L41 24l2.021 6.18l-5.268 3.812l-1.997 6.188l-6.503-.012L24 44l-5.253-3.832l-6.503.012l-1.997-6.188l-5.268-3.812L7 24l-2.021-6.18l5.268-3.812l1.997-6.188l6.503.012L24 4z"
              ></path>
              <path d="M17 24l5 5l10-10"></path>
            </g>
          </svg>
          A success alert example!!!!
        </div>
        <div class="alert alert-danger">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="alert-icon iconify iconify--ic"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27L15.73 3zM19 14.9L14.9 19H9.1L5 14.9V9.1L9.1 5h5.8L19 9.1v5.8zm-4.17-7.14L12 10.59L9.17 7.76L7.76 9.17L10.59 12l-2.83 2.83l1.41 1.41L12 13.41l2.83 2.83l1.41-1.41L13.41 12l2.83-2.83l-1.41-1.41z"
              fill="currentColor"
            ></path>
          </svg>
          A danger alert example!!!!
        </div>
        <div class="alert alert-warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="alert-icon iconify iconify--jam"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M14.8 4.613l6.701 11.161c.963 1.603.49 3.712-1.057 4.71a3.213 3.213 0 0 1-1.743.516H5.298C3.477 21 2 19.47 2 17.581c0-.639.173-1.264.498-1.807L9.2 4.613c.962-1.603 2.996-2.094 4.543-1.096c.428.276.79.651 1.057 1.096zm-2.22.839a1.077 1.077 0 0 0-1.514.365L4.365 16.98a1.17 1.17 0 0 0-.166.602c0 .63.492 1.14 1.1 1.14H18.7c.206 0 .407-.06.581-.172a1.164 1.164 0 0 0 .353-1.57L12.933 5.817a1.12 1.12 0 0 0-.352-.365zM12 17a1 1 0 1 1 0-2a1 1 0 0 1 0 2zm0-9a1 1 0 0 1 1 1v4a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"
              fill="currentColor"
            ></path>
          </svg>
          A warning alert example!!!
        </div>
      </div>

      <!-- code snippet -->
      <div class="code_wrapper">
        <script type="text/plain" class="line-numbers language-markup">
          <div class="alert alert-primary">
            <!-- icon --> <!-- text -->
            </div>
          <div class="alert alert-success">
             <!-- icon --> <!-- text -->
            </div>
          <div class="alert alert-danger">
             <!-- icon --> <!-- text -->
            </div>
          <div class="alert alert-warning">
             <!-- icon --> <!-- text -->
            </div>
        </script>
      </div>
    </main>

    <!--******** footer *******-->
    <footer class="cl-footer flex-align-center">
      <div class="social-logos flex-align-center">
        <!-- github icon -->
        <a href="https://github.com/bhtibrewal">
          <i class="fa-brands fa-github fa-lg"></i>
        </a>
        <!-- twitter icon -->
        <i class="fa-brands fa-twitter fa-lg"></i>
        <!-- linkedin icon -->
        <i class="fa-brands fa-linkedin fa-lg"></i>
      </div>
      <div class="flex-align-center">
        Made with
        <i class="heart-logo fa-solid fa-heart"></i>
        by Bhavika Tibrewal
      </div>
    </footer>

    <!-- to top btn -->
    <button class="to-top-btn floating-btn">
      <i class="fa-solid fa-rocket fa-lg"></i>
    </button>

    <script src="/src/doc/prism.js"></script>
    <script src="/index.js"></script>
    <script
      src="https://kit.fontawesome.com/617c60ee1d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
