.alert {
  padding: 1.6rem;
  max-width: 100rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  margin: .8rem;
  font-size: 1.6rem;
}
.alert-icon {
  width: 3rem;
  font-size:1.5em;
  margin-right: .8rem;
}
.alert-primary {
  background: var(--alert-primary-bg);
  color: var(--alert-primary-text);
}
.alert-success {
  background: var(--success-bg);
  color: var(--success-text);
}
.alert-danger {
  background: var(--danger-bg);
  color: var(--danger-text);
}
.alert-warning {
  background: var(--warning-bg);
  color: var(--warning-text);
}
