* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and ( max-width:600px){
  html{
    font-size: 50%;
  }
}
body {
  font-family:Nunito, sans-serif;
  font-size: 1.6rem;

  background: var(--light-bg);
  color: var(--secondary-text);
}
:root {
  --primary-color-darker: rgba(206, 122, 18);
  --primary-color: rgba(226, 132, 19); /*#e28413*/
  --primary-color-lighter: rgba(235, 143, 30);

  --secondary-color: rgb(128, 5, 93); /*#80055d*/

  --primary-text: rgb(46, 46, 46);
  --secondary-text: rgb(73, 73, 73); /*#737373*/
  --light-text: rgb(241, 241, 241);
  --light-bg: rgb(252, 252, 252);
  --gray-bg: #d4d4d4;

  --alert-primary-text: #084298;
  --alert-primary-bg: #cfe2ff;
  --success-text: #0f5132;
  --success-bg: #d1e7dd;
  --danger-text: #842029;
  --danger-bg: #f8d7da;
  --warning-text: #664d03;
  --warning-bg: #fff3cd;

  --online-color: #1b7052;
  --offline-color: #dc3545;

  --overlay-color:rgba(88, 88, 88, 0.7);

  --input-err: red;
  --input-success: green;
}
