* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and ( max-width:600px){
  html{
    font-size: 50%;
  }
}
body {
  font-family:Nunito, sans-serif;
  font-size: 1.6rem;
}
:root {
  --primary-color-darker: rgb(206, 122, 18);/*#ce7a12*/
  --primary-color: rgba(226, 132, 19); /*#e28413*/
  --primary-color-lighter: #eb8f1e;/*#eb8f1e*/
  --primary-color_op-half: rgba(226, 132, 19, 0.5);

  --secondary-color: rgb(128, 5, 93); /*#80055d*/
  --secondary-color-lighter: #ed55c2;
  --secondary-color_op-half: rgb(128, 5, 93, 0.5);

  --primary-text: rgb(46, 46, 46);
  --secondary-text: rgb(73, 73, 73); /*#737373*/
  --light-text: rgb(241, 241, 241);/* #f1f1f1 */
  --light-bg: rgb(252, 252, 252);/* #fcfcfc */
  --gray-bg: #d4d4d4;
  --code-wrapper: #2d2d2d;

  --gray: #808080;
  --alert-primary-text: #084298;
  --alert-primary-bg: #cfe2ff;
  --success-text: #0f5132;
  --success-bg: #d1e7dd;
  --danger-text: #842029;
  --danger-bg: #f8d7da;
  --warning-text: #664d03;
  --warning-bg: #fff3cd;

  --online-color: #1b7052;
  --offline-color: #dc3545;

  --overlay-color:rgba(88, 88, 88, 0.7);

  --input-err: red;
  --input-success: green;
  
  --snackbar-bg: #333;
  --snackbar-theme: #bb86fc;
  --snackbar-hover-bg: #392d49;
}
