.artsy_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(4rem, auto);
  gap: 1rem;
  grid-auto-flow:dense;
}
.xs{
    /* grid-column-end: ; */
}
.xs-2 {
  grid-column-end: span 2;
}
.xs-4 {
  grid-column-end: span 4;
}
.xs-6 {
  grid-column-end: span 6;
}
.xs-8 {
  grid-column-end: span 8;
}
