/****** This page needs to be orgaized!! ****/




a {
  text-decoration: none;
  color:inherit;
}
ul {
  list-style: none;
  padding: 0 1rem;
}
button{
  cursor:pointer;
  border:none;
  background:transparent;
}
img{
  object-fit: cover;
  max-width: 100%;
}
