<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../artsyUI.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>Artsy UI</div>
      <div>Social Logos</div>
    </header>
    <aside>
      <a href="./avatar.html">Alert</a>
      <a href="./avatar.html">Avatar</a>
      <a href="../badge/badge.html">Badge</a>
      <a href="./avatar.html">Button</a>
    </aside>
    <main>
      <!-- avatar -->
      <h1>Avatar</h1>
      <p class="body-l">The Avatar component is used to represent a user, and displays the profile picture or initials.</p>
      <h2>Avatar of different sizes</h2>
      <p>Avatar is available in 4 different sizes. You can use image in Avatar. You need to include class avatar and for size add class according to size</p>
      <ul class="list">
        <li>Large: 160px (class: avatar-l)</li>
        <li>Medium: 100px(class: avatar-m)</li>
        <li>Small: 48px(class: avatar-s)</li>
    </ul>
      <div class="component-container avatar-container">
        <div class="avatar avatar-l flex-items">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
        <div class="avatar avatar-m flex-items">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
        <div class="avatar avatar-s flex-items">
          <img
            src="https://avatars.githubusercontent.com/u/42600164?v=4"
            alt="avatar"
          />
        </div>
      </div>
      <!-- Text Avatar -->
      <h2>Example of Avatar with Text</h2>
      <p>You can use initial letters of user in Avatar as well. You need to include class avatar-text along with avatar and size class. </p>
      <div class="component-container avatar-container">
        <div class="avatar-text avatar-l">BT</div>
        <div class="avatar-text avatar-m">BT</div>
        <div class="avatar-text avatar-s">BT</div>
      </div>

    </main>
  </body>
</html>
