.artsy-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-text);
  color: var(--secondary-color);
  padding: 1.6rem 5.4rem;
  box-shadow: 0 0 10px -4px var(--secondary-text);
}
.left-side{
    display:flex;
    align-items:center;
}
.artsy-header .logo {
  height: 5rem;
}
.artsy-header .right-side {
  display: flex;
  gap: 2rem;
}
.mode-toggle {
  cursor: pointer;
}
